maltego/netcap
maltego/transforms
maltego/entities/
zeus/data.yml
tcpConnections
tests
.idea
types/python
types/java
types/swift
types/rust
types/cpp
types/csharp
types/js
data/
__pycache__
pcaps
.vscode
*.log
*.pcap
*/*.pcap
*/*.pcapng
*.ncap*
zeus/.history
zeus/dumps
priv.key
pub.key
dist/
vulnDBs
udpConnections/
FlameGraph