# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Build output
# Keep /dist/ since it's embedded in the Go binary
# /dist/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# IDE
.idea
.vscode
*.swp
*.swo
*~
